In [9]:
#Identation

age = 4
if(age < 5):
    print('He/She is kid!')

He/She is kid!

In [12]:
# This is a course for begginers in python.

In [15]:

"""
- it 
- adsf;kj 
"""

'\nsdf\nasdf\nsdf\n'

In [23]:
a = True
b = False
c = True

if (a==True) and (b==False) \
    and (c==True):
    print('the test is passed!')

the test is passed!

In [26]:
#identifiers
variable = 5 
_variable = 6

print(variable)
print(_variable)

5
6

In [27]:
#Object
num_1 = 17
num_2 = 17.26
print(type(num_1))
print(type(num_2))

<class 'int'>
<class 'float'>

In [28]:
#Cast
int_sample = 12
print(type(int_sample))
cast_to_float = float(int_sample)
print(type(cast_to_float))

<class 'int'>
<class 'float'>

In [29]:
string_sample = 'Computer Vision'
#print(float(string_sample))

ValueError: could not convert string to float: 'Computer Vision'

In [33]:
#Arithmetic Ops
a = 5
b = 8

print('sum: ' , a+b)
print('sub: ' , a-b)
print('power: ' , a ** b)

sum:  13
sub:  -3
power:  390625

In [35]:
#Assignment Ops
c = 10
print(c)

c += 12
print(c)


c **=3
print(c)

10
22
10648

In [39]:
#Comparision Ops. 

h = 20
g = 10

print(h >= g)
print( h is g)

True
False

In [45]:
aa = 15 #0x12123923
cc = aa #0x12123923

print(aa is cc)
print('aa', aa)
print('cc', cc)

aa = 20 #0x12123978
print(aa is cc)
print('aa', aa)
print('cc', cc)

True
aa 15
cc 15
False
aa 20
cc 15

In [43]:
v = True
m = False 

print( v and m)
print( v or m )
print(not v)

False
True
False

In [47]:
aa = bb = 12

print(aa)
print(bb)

bb = 15
print(aa)
print(bb)

12
12
12
15

In [52]:
#string


s = "Ti amo Molto!"
print('the string is:' , s)

the string is: Ti amo Molto!

In [59]:
his_age = 50
status = 'old'

print(' His age is {0}, He is so {1}'.format(his_age, status))

 His age is 50, He is so old

In [62]:
#Input



user_age = input()
status = input()

print(' His age is {0}, He is so {1}'.format(user_age, status))

78
too old
 His age is 78, He is so too old

In [64]:
#if
age = input('enter you age: ')
print(type(age))
age = int(age)

if (age <= 10):
    ticket_price = 1000
elif( age <= 20):
    ticket_price= 20000
else:
    ticket_price = 50000
    
print('your ticket price is: {0} toman'.format(ticket_price))

enter you age: 50
<class 'str'>
your ticket price is: 50000 toman

In [65]:
#while
max_num_frame_from_camera = 5
counter = 0

while counter < max_num_frame_from_camera:
    print('frame_number: ', counter)
    counter += 1

frame_number:  0
frame_number:  1
frame_number:  2
frame_number:  3
frame_number:  4

In [66]:
#for 
for element in range(2,12,2):
    print(element)

2
4
6
8
10

In [67]:
lst = ['a', 'b', 'c']
for ch in lst:
    print(ch)

a
b
c

In [69]:
lst_empty = [1, 2, 3]
print(len(lst_empty))

3

In [70]:
lst_empty[0]
#index, idx, ix

1

In [71]:
lst_empty[-1]

3

In [72]:
lst_empty[-2]

2

In [73]:
#mutate!
lst_sample = [4, 8, 98, 25]
lst_sample[0] = 5
lst_sample

[5, 8, 98, 25]

In [74]:
lst_sample.insert(0, 50)
lst_sample

[50, 5, 8, 98, 25]

In [75]:
lst_sample.append(78)

In [76]:
lst_sample

[50, 5, 8, 98, 25, 78]

In [77]:
lst_sample.remove(78)

In [78]:
lst_sample

[50, 5, 8, 98, 25]

In [79]:
lst_sample.pop(0)

50

In [80]:
lst_sample

[5, 8, 98, 25]

In [81]:
lst_sample[0:2]

[5, 8]

In [83]:
#Tuple
rgb = ('red', 'green', 'blue')
len(rgb)

3

In [84]:
rgb_fake = ('yellow', 'white')

res = rgb + rgb_fake

In [85]:
res

('red', 'green', 'blue', 'yellow', 'white')

In [86]:
type(res)

tuple

In [88]:
kh = ('tt',)
type(kh)

tuple

In [89]:
#Dictionary
my_dictionary  = {}
type(my_dictionary)

dict

In [90]:
user = {'f_name':'John', 'l_name':'Kerby', 'age': 15}
user['f_name']

'John'

In [91]:
age = user.get('age')
age

15

In [94]:
for key in user:
    first_name = user.get('f_name')
    print(first_name)

John
John
John

In [95]:
for value in user.values():
    print(value)

John
Kerby
15

In [96]:
del user['age']

In [97]:
user

{'f_name': 'John', 'l_name': 'Kerby'}

In [100]:
simple_dict = {}
simple_tuple = ()

print(type(simple_dict))
print(type(simple_tuple))

<class 'dict'>
<class 'tuple'>